//Colors
$violet: #B35BD2;
$light-violet: #D9ADE9;
$dark-gray: #333333;
$gray: #777777;
$light-gray: #EAEAEA;
$light: #FAFAFB;
$white: #ffffff;
$black: #000000;
$red: #FF504F;
$green: #498C78;


$yellow: #FFD637;
$dark: #383838;


// Fonts
$lato: 'Lato', Arial, Helvetica, sans-serif;
$lora:  'Lora', 'Times New Roman', Times, serif;
